   @model IsThisGeekAlive.ViewModels.GeeksIndexViewModel

@if (Model.Geek.HasHitDangerThreshold())
{
    <p>       
        @Html.BoldTextFor(m => m.Geek.Username) has not logged onto his computer in @Html.BoldText(Model.Geek.LastPingDaysAndHoursAgo()).
    </p>

    <p class="alert alert-danger">                        
        This has exceeded the configured @Html.BoldText(Thresholds.DangerThreshold) threshold of @Html.BoldTextFor(m => m.Geek.NotAliveDangerWindow) hours. 
        You should probably be worried.
    </p>
}
else if (Model.Geek.HasHitWarningThreshold())
{
    <p>
        @Html.BoldTextFor(m => m.Geek.Username) has not logged onto his computer in @Html.BoldText(Model.Geek.LastPingDaysAndHoursAgo()).
    </p>

    <p class="alert alert-warning">
        This has exceeded the configured @Html.BoldText(Thresholds.ConcernThreshold) threshold of @Html.BoldTextFor(m => m.Geek.NotAliveWarningWindow) hours.         
        It has NOT exceeded the configured @Html.BoldText(Thresholds.DangerThreshold)threshold of @Html.BoldTextFor(m => m.Geek.NotAliveDangerWindow) hours.
    </p>
}
else
{
    <p>
        Don't worry; @Html.BoldTextFor(m => m.Geek.Username) has logged onto his computer within the last @Html.BoldTextFor(m => m.Geek.NotAliveWarningWindow) hours.
    </p>
}

@if (Model.Geek.ShowActivityDates())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                The last time @Html.BoldTextFor(m => m.Geek.Username) logged on was @Html.BoldTextFor(m => m.Geek.LastActivityLocalTime) based on the geek's timezone.
            </p>

            <p>
                Or @Html.BoldTextFor(m => m.Geek.LastActivityServerTime) based on this website's timezone.
            </p>

            <div class="small">
                <p>
                    * 
                    <i>The geek's timezone depends on the computer clock so it may not be accurate.</i>
                </p>
            </div>

            <div class="small">
                <p>
                    ** 
                    <i>
                        The value in backets indicates the timezone hour difference from <a href="https://www.timeanddate.com/time/aboututc.html">UTC time</a>
                        - e.g. <a href="https://www.timeanddate.com/worldclock/australia/brisbane">Brisbane</a> is UTC +10:00 so 10am in UTC is 8pm in Brisbane.
                    </i>
                </p>
            </div>

            @if (Model.IsGmtInDaylightSaving)
            {
                <div class="small">
                    <p>
                        ***
                        <i>
                            The <a href="https://en.wikipedia.org/wiki/Greenwich_Mean_Time">GMT timezone</a> (i.e. Dublin, Edinburgh, Lisbon, London) is currently 
                            under <a href="https://en.wikipedia.org/wiki/Daylight_saving_time">daylight savings time</a>. Meaning it is UTC +01:00.
                        </i>
                    </p>
                </div>
            }
        </div>
    </div>
}