@model IsThisGeekAlive.ViewModels.GeeksIndexViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            The geek installs the monitor application on their PC. The application periodically tells the website that the user is 
            currently logged in. Normally it sends an update once every 10 minutes. 
        </p>

        <p>
            If you want to know the status of a geek, you use this website to search for him. At that point the website will look for the geek
            and find the last time the monitor sent an update. From that it calculates whether the geek is in the @Html.BoldText(Thresholds.RecentlyThreshold), 
            @Html.BoldText(Thresholds.ConcernThreshold) or @Html.BoldText(Thresholds.DangerThreshold) period.
        </p>

        <p>
            The geek sets the intervals by themselves but by default...
        </p>

        <ul>
            <li>The @Html.BoldText(Thresholds.RecentlyThreshold) period is less than 36 hours</li>
            <li>The @Html.BoldText(Thresholds.ConcernThreshold) period is between 36 hours and 96 hours</li>
            <li>The @Html.BoldText(Thresholds.DangerThreshold) period is after 96 hours</li>
        </ul>

        <p>
            For example, if the geek logged in yesterday then he is in the @Html.BoldText(Thresholds.RecentlyThreshold) period. 
            If on the other hand, he hasn't logged since four days ago then he is in the @Html.BoldText(Thresholds.ConcernThreshold) period.
            And if he hasn't logged in since last week then he is in the @Html.BoldText(Thresholds.DangerThreshold) period.
        </p>

        <p>
            For privacy reasons, as long as the user has logged into his computer @Html.BoldText(Thresholds.RecentlyThreshold), their last login time is not shown.
        </p>       
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <b>IMPORTANT NOTE</b>
        </p>

        <p>
            The monitor application only works properly when the geek is...
        </p>

        <ul>
            <li type="1">Logged into his computer and</li>
            <li type="1">Running the monitor application and</li>
            <li type="1">Has internet access</li>
        </ul>

        <p>
            So no activity does not necessarily mean that anything is actually wrong with the person, despite the exaggerated name of the website.
        </p>
    </div>
</div>